{% extends 'core/base.html' %}
{% load static %}
{% block title %}not Contact Page{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="texte">
                <p>We are thrilled you want to reach out to us!</p>
                <p>Below you'll find some basic contact info and a contact form if you wish to send us your best
                    wishes.</p>
                <p>Address: Str. Teting Extraordinary -10A, Bucharest</p>
                <p>Phone number: +30 1111.111.111</p>
                <p>E-mail: contact@testin.inc</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <h1>Contact Us</h1>
                <form method="post" data-subject="Contact Form Submission">
                    {% csrf_token %}

                    <!-- Display Name Field and Errors Above -->
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Name*</label>
                        {{ form.name }}
                        <div class="text-danger">
                            {% for error in form.name.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Display Email Field and Errors Above -->
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email*</label>
                        {{ form.email }}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Display Phone Field and Errors Above -->
                    <div class="form-group">
                        <label for="{{ form.phone.id_for_label }}">Phone</label>
                        {{ form.phone }}
                        <div class="text-danger">
                            {% for error in form.phone.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Display Message Field and Errors Above -->
                    <div class="form-group">
                        <label for="{{ form.message.id_for_label }}">Message*</label>
                        {{ form.message }}
                        <div class="text-danger">
                            {% for error in form.message.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="body" id="email-body" value="">
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 contact-pic-container">
            <div class="circle">
                <img src="{% static 'core/images/Contact_Pic.jpg' %}" class="img-fluid contact-pic" alt="Contact Image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
