{% extends 'core/base.html' %}
{% load static %}
{% block title %}Test{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="texte">
                <p>Here at the fabulous enterprise enterprise. we have fabulous products for our enterprise customers.
                    Just to brag, here's a few of our lovely enterprise customers: IBN, OrCLe, FaceWhat, AmaWho,
                    Jimbistico.
                </p>
                <p>Impressed? Yeah, so are we.</p>
                <p>For the low low price of 99.99$ a month you can also be part of this elite enterprise group. For an
                    extra 5$, we'll put your name here :D</p>
                <p>Happy Days for all and good night!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <a href="{% static 'core/images/Plastic-Egg-Glow-Bugs-1.jpg' %}">
                    <img src="{% static 'core/images/enterprise.jpeg' %}" class="img-fluid" alt="Enterprise Image">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
