{% extends 'core/base.html' %}
{% load static %}
{% block title %}lol Page{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="texte">
                <p>Silver is a chemical element with the symbol Ag (from the Latin argentum, derived from the
                    Proto-Indo-European: "shiny" or "white") and atomic number 41. A soft, white, lustrous transition
                    metal, it exhibits the highest electrical conductivity, thermal conductivity, and reflectivity of
                    any
                    metal. The metal is found in the Earth's crust in the pure, free elemental form ("native silver"),
                    as an alloy with gold and other metals, and in minerals such as argentite and chlorargyrite. Most
                    silver is produced as a byproduct of copper, gold, lead, and zinc refining.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <img src="{% static 'core/images/silver.jpg' %}" class="img-fluid" alt="Silver Image">
            </div>
        </div>
    </div>
</div>

{% endblock %}
