.col-sm-4 .btn {
    margin-top: 5px;
    color: #fff;
    background-color: #000;
    font-style: italic;
    border-color: #fff; /* Set the border color to red (#ff0000) */
    border-width: 2.5px;
     border-radius: 25px;/* Increase the border width to 3 pixels */
}

.col-sm-4 .btn:hover {
    margin-top: 5px;
    color: #000;
    background-color: #D3D3D3;
    font-style: italic;
    border-color: #000; /* Set the border color to red (#ff0000) */
    border-width: 3px;
     border-radius: 25px;/* Increase the border width to 3 pixels */
}

.nav-item .btn {
    margin-top: 5px;
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #000;
    border-color: #fff; /* Set the border color to red (#ff0000) */
    border-width: 2.5px;
     border-radius: 25px;/* Increase the border width to 3 pixels */
}

.nav-item .btn:hover {
    margin-top: 5px;
    color: #FFFFFF;;
    background-color: #D3D3D3;
    border-color: #000; /* Set the border color to red (#ff0000) */
    border-width: 3px; /* Increase the border width to 3 pixels */
    cursor: default !important; /* Use !important to override Bootstrap's default styles */
}

.form-group .btn {
    margin-top: 5px;
    margin-left: 10px;
    color: #FFFFFF;;
    background-color: #000;
    border-color: #fff; /* Set the border color to red (#ff0000) */
    border-width: 2.5px;
     border-radius: 25px;/* Increase the border width to 3 pixels */
}

.form-group .btn:hover {
    margin-top: 5px;
    color: #000;
    background-color: #D3D3D3;
    font-style: italic;
    border-color: #000; /* Set the border color to red (#ff0000) */
    border-width: 3px; /* Increase the border width to 3 pixels */
}

.nav-item {
  cursor: default !important; /* Use !important to override Bootstrap's default styles */
}

.btn.socials {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border-width: 2.5px;
    border-radius: 25px;
}

.btn.socials:hover {
    color: #000;
    background-color: #D3D3D3;
    font-style: italic;
    border-color: #000;
    border-width: 3px;
    border-radius: 25px;
}


.dropdown-menu .dropdown-item {
    font-style: italic;
}


.menu-text {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 16px;
  margin-top: 5px;/* Adjust the margin as needed */
}


html, body, main {
    height: 100%;
}

<style>
    .contact-pic {
        position: absolute;
        top: -30px; /* Adjust the top value as needed */
        right: 0; /* Adjust the right value as needed */
        /* You can also use left or bottom to control the position */
    }
</style>
